.signup-form-modal-button {
    width: 300px;
    height: 40px;
    background-color: #1b9bee;
    margin-left: 12px;
    min-width: 300px;
    max-width: 100px;
    min-height: 40px;
    height: 10%;
    padding-left: 16px;
    padding-right: 16px;
    border-color: rgba(0, 0, 0, 0);
    border-width: 1px;
    border-radius: 9999px;
    color: white;
    cursor: pointer;
    margin: 2%;
}
