/* TODO Add site wide styles */
body {
    margin: 0;
    background-color: #ffffff;
    overscroll-behavior: none;
}
* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}
#root {
    height: 100vh;
    margin: 0;
}
