/* TODO Add site wide styles */
html {
    height: auto;

}
body {
    margin: 0;
    background-color: #ffffff;
    overscroll-behavior: none;
    height: auto;
}
* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}
#root {
    height: 100%;
    margin: 0;
    position: relative;
    display: flex;
}
