.bottom-bar-div{
    /* background-color: red; */
    width: 30%;
    height: 100vh;
    height: 100vh !important;
    /* min-width: 20%; */
    /* max-width: 20%; */
    position: sticky;
    bottom: 0%;
    /* right: 0%; */
    /* top: 0%; */
    border-left: 1px solid rgb(240, 240, 240);

}
