.follow-box-master-div {
    display: flex;
    flex-flow: column;
    /* max-height: 300px; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* height: 49vh; */
    height: 50%;
    min-height: 50%;
    max-height: 50vh;
    /* max-height: 49vh; */
    overflow: hidden;
    overflow-y: scroll;
    border-top: 1px solid rgb(240, 240, 240);
    border-bottom: 1px solid rgb(240, 240, 240);
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    overflow: auto;
}
.follow-box-master-div::-webkit-scrollbar {
    display: none;
}
.follow-box-master-div-no-user {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    /* height: 50%;
    min-height: 50%;
    max-height: 50%; */

    /* border: 1px solid rgb(240, 240, 240); */
}
.user-to-follow-div {
    display: flex;
    flex-flow: column;
    /* align-items: center; */
    justify-content: center;
    border: 3px solid rgb(240, 240, 240);
    border-radius: 10px;
    /* padding: 5%; */
    margin: 5% auto 5% auto;
    width: 80%;
    /* height: 80%; */

}
.follow-box-master-h3 {
    padding-top: 20px;
    margin: 0 auto 0 auto;
}
.follow-box-p-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.follow-box-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}

.follow-box-follow-button {
    background-color: #1b9bee;
    min-width: 20px;
    min-height: 20px;
    max-width: max-content;
    height: 10%;
    padding-left: 10px;
    padding-right: 10px;
    border-color: rgba(0, 0, 0, 0);
    border-width: 1px;
    border-radius: 9999px;
    color: white;
    cursor: pointer;
    font-size: medium;
    font-weight: bolder;
}
.follow-box-follow-button:hover {
    background-color: #188bd8;
}
