.logout-button {
    /* font-size: 20px; */
    font-size: larger;
    /* background-color: red; */
    color: red;
    margin-right: 10px;
    /* border-color: white; */
    cursor: pointer;
}

.logout-div {
    cursor: pointer;
}
