.feed-hidden-div {
    width: 55%;
    min-width: 55%;
    max-width: 55%;
    min-height: 100%;
    height: 100%;
    margin: 0;
    /* max-height: 100%;
    min-height: 100%; */

}

.feed-master-div {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh;
    border-left: 1px solid rgb(240, 240, 240);
    flex-flow: column;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    overflow-x: hidden;
    /* margin: auto; */
    width: 100%;
    min-width: 70%;
    word-break: break-all;
    /* height: max-content; */
    /* min-height: 70%; */

    /* height: -moz-fit-content; */

    /* border: 1px solid rgb(240, 240, 240); */
    box-sizing: border-box;
    position: relative;
}
.feed-master-div::-webkit-scrollbar {
    display: none;
  }
.feed-inner-div {
    display: flex;
    width: 100%;
    word-wrap: break-word;
    border: 0 solid black;
    box-sizing: border-box;
    /* border: 1px solid rgb(240, 240, 240); */
    border-bottom: 1px solid rgb(240, 240, 240);
    display: inline;
    /* margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px; */
    padding: 5%;
    font-weight: 400;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 20px;
    line-height: 20px;
    max-height: max-content;
    min-height: max-content;
    height: max-content;
}
.feed-user-image-div {
    justify-content: start;
    /* position: absolute; */
    /* top: 0%; */
    margin-left: 2%;
    margin-top: 2%;
}
.feed-top-div {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
}
.feed-user-image {
    width: 55px;
    height: 55px;
    border-radius: 250px;
    display: inline;
}
.feed-user-info {
    /* margin: auto; */
    display: flex;
    flex-flow: column;
    padding: 1%;
    margin-left: 2%;
}
.feed-user-link {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
.feed-user-handle {
    color: rgba(0, 0, 0, .70);
    text-decoration: none;
}
.feed-user-tweet {
    padding-left: 12%;
    padding-right: 12%;
}
.feed-user-tweet-link {
    text-decoration: none;
    color: black;
}

.feed-user-tweet-bottom-div {

    display: flex;
    /* background-color: red; */
    margin: 3% 0 0 12%;
    /* margin-left: 12%; */
    width: 200px;
    /* justify-content: space-between; */
}
.feed-ellipsis {
    color: #1b9bee;
    cursor: pointer;
    position: absolute;
    right: 5%;
    margin-top: 4%;
}

.feed-ellipsis:hover {
    color: #0c3c5b;
}
.i-tag {
    margin-right: 20px;
    color: rgba(0, 0, 0, .70);
}

.feed-loading-div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 99.5vh;
    min-height: 80vh;
    border-left: 1px solid  rgb(240, 240, 240);
    /* border-right: 1px solid  rgb(240, 240, 240); */
}
