
.page-404-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-width: 50%;
    max-width: 50%;
}
.link-404 {
    text-decoration: none;
    color: red;
}
.h2-404 {
    text-decoration: none;
    color: red;
}
.p-404 {
    text-decoration: none;
    color: red;
}
